<nav class="navbar">
  <div class="navbar__container">
    
    <div class="navbar__logo" (click)="navigateTo('/')">
      <img [src]="'assets/images/logo.svg'" alt="QuickSurvey" class="navbar__logo-icon" />
      <span class="navbar__logo-text">QuickSurvey</span>
    </div>

    
    <div class="navbar__actions">
      <a class="navbar__link" (click)="navigateTo('/register')">Registrarse</a>
      <a class="navbar__link" (click)="navigateTo('/login')">Iniciar sesión</a>
    </div>
  </div>
</nav>

