@import '../../../assets/scss/variables';

.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;

  app-navbar {
    flex-shrink: 0;
  }

  app-hero-section {
    flex-shrink: 0;
  }

  app-footer {
    flex-shrink: 0;
    margin-top: auto;
  }
}

