.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.landing-page app-navbar {
  flex-shrink: 0;
}
.landing-page app-hero-section {
  flex-grow: 1;
}
.landing-page app-footer {
  flex-shrink: 0;
  margin-top: auto;
}
